name: 小活动-签到7D

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run App
      run: |
        python act_sign_7d.py
      env:
        JD_COOKIE: ${{ secrets.JD_COOKIE }}
        JD_SIGN_7D_URL: ${{ secrets.JD_SIGN_7D_URL }}
        JD_SIGN_7D_C1: ${{ secrets.JD_SIGN_7D_C1 }}
        TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
        TG_USER_ID: ${{ secrets.TG_USER_ID }}
